functioning of dropna function

In [1]:
import pandas as pd

data = {'A':[1,2,3,None],'B':[4,5,None,7]}
df = pd.DataFrame(data)

In [2]:
df.shape

(4, 2)

In [3]:
df.dropna()

     A    B
0  1.0  4.0
1  2.0  5.0

In [4]:
df.shape

(4, 2)

In [5]:
df.dropna().shape

(2, 2)