feature engineering, normalization and standardization.

why feature sacling is important?
It's because when the features of the dataset are independent but the model weighs those feature higher who have greater numeric values regardless of the units. That's why feature scaling is important so that all the features can be scaled to a fixed range so that the model can predict accurately.

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("/home/aaranyak/Downloads/SampleFile.csv")
df.head()
# we have only take two columns because otherwise outliers would come and they have a bad effect because of feature scaling.

   LotArea  MSSubClass
0     8450          60
1     9600          20
2    11250          60
3     9550          70
4    14260          60

Absolute maximum scaling

In [10]:
# absolute maximum scaling
max_vals = np.max(np.abs(df))
print(max_vals)
max_vals.dtype

215245

dtype('int64')

In [11]:
# now we will subtract all the data points to the maximum absolute value and then divide by the maximum absolute value
print((df-max_vals)/max_vals) # now they are in the range of -1 to 1.

       LotArea  MSSubClass
0    -0.960742   -0.999721
1    -0.955400   -0.999907
2    -0.947734   -0.999721
3    -0.955632   -0.999675
4    -0.933750   -0.999721
...        ...         ...
1455 -0.963219   -0.999721
1456 -0.938791   -0.999907
1457 -0.957992   -0.999675
1458 -0.954856   -0.999907
1459 -0.953834   -0.999907

[1460 rows x 2 columns]

MinMaxScaling

In [12]:
from sklearn.preprocessing import MinMaxScaler # range of (0-1). x(scaled) =  [(xi - xmin)/(xmax-xmin)]
scaler = MinMaxScaler()
scaler_data = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaler_data,columns = df.columns)
scaled_df.head()

    LotArea  MSSubClass
0  0.033420    0.235294
1  0.038795    0.000000
2  0.046507    0.235294
3  0.038561    0.294118
4  0.060576    0.235294

Normalization - x(scaled) = [x(i) - x(mean)/x(max) - x(min)]

In [13]:
from sklearn.preprocessing import Normalizer
scaler = Normalizer()
scaled_data = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_data,columns = df.columns)
scaled_df.head()

    LotArea  MSSubClass
0  0.999975    0.007100
1  0.999998    0.002083
2  0.999986    0.005333
3  0.999973    0.007330
4  0.999991    0.004208

Standardization - x(scaled) = xi-xmean/standard deviation
This is for normal distribution.

In [14]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_data,columns = df.columns)
scaled_df.head()

    LotArea  MSSubClass
0 -0.207142    0.073375
1 -0.091886   -0.872563
2  0.073480    0.073375
3 -0.096897    0.309859
4  0.375148    0.073375

Robust scaling ==> x(scaled) = [xi-xmedian/IQR]

In [15]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
scaled_data = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled_data,columns = df.columns)
scaled_df.head()

    LotArea  MSSubClass
0 -0.254076         0.2
1  0.030015        -0.6
2  0.437624         0.2
3  0.017663         0.4
4  1.181201         0.2